In [5]:
import pandas as pd

In [4]:
#读取CSV文件

In [55]:
path='D:/jupyter/ant-learn-pandas-master/datas/ml-latest-small/ratings.csv'

In [56]:
a=pd.read_csv(path)

In [57]:
a.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [58]:
a.shape

(100836, 4)

In [25]:
a.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [26]:
a.index

RangeIndex(start=0, stop=100836, step=1)

In [27]:
a.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [ ]:
#读取TXT文件

In [36]:
path="./ant-learn-pandas-master\datas\crazyant/access_pvuv.txt"

In [41]:
b=pd.read_csv(
    path,
    sep="\t",
    header=None,
    names=['pdate', 'pv', 'uv']
)

In [38]:
b

        pdate   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

In [ ]:
#读取excel文件

In [9]:
path='D:/jupyter/ant-learn-pandas-master/datas/crazyant/access_pvuv.xlsx'

In [10]:
c=pd.read_excel(path)

In [11]:
c

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61