In [3]:
#series

In [4]:
import pandas as pd

In [5]:
#使用列表创建series
a=pd.Series([1,2,4,5,6])

In [6]:
a

0    1
1    2
2    4
3    5
4    6
dtype: int64

In [7]:
b=pd.Series(['h','e','l','l','o'])

In [8]:
b

0    h
1    e
2    l
3    l
4    o
dtype: object

In [ ]:
#创建一个带标签的series

In [37]:
c=pd.Series(['a','b','c'],index=['z','h','d'])

In [41]:
c

z    a
h    b
d    c
dtype: object

In [ ]:
#使用字典创建series

In [13]:
d={'a':'b','c':'d','e':'f'}

In [15]:
e=pd.Series(d)

In [17]:
e

a    b
c    d
e    f
dtype: object

In [48]:
type(e)

pandas.core.series.Series

In [46]:
e[['a','c']]

a    b
c    d
dtype: object

In [ ]:
#使用多个字典创建dataframe

In [25]:
a={'q':[1,2,3,4],'b':[5,6,7,8],'c':[9,10,11,12],'d':[13,14,15,16]}

In [26]:
b=pd.DataFrame(a)

In [27]:
b

   q  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

In [30]:
b.index

RangeIndex(start=0, stop=4, step=1)

In [31]:
b.dtypes

q    int64
b    int64
c    int64
d    int64
dtype: object

In [35]:
b.columns

Index(['q', 'b', 'c', 'd'], dtype='object')

In [ ]:
#查询一列

In [44]:
b['q']

0    1
1    2
2    3
3    4
Name: q, dtype: int64

In [ ]:
#查询多列

In [45]:
b[['q','b']]

   q  b
0  1  5
1  2  6
2  3  7
3  4  8

In [47]:
type(b)

pandas.core.frame.DataFrame

In [ ]:
#查询一行

In [49]:
b.loc[1]

q     2
b     6
c    10
d    14
Name: 1, dtype: int64

In [51]:
b.loc[0:3]

   q  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16