In [9]:
import pandas as pd

In [10]:
path = 'C:/Users/13781/Desktop/学生信息表.xlsx'

In [11]:
c=pd.read_excel(path,sheet_name=1)

In [12]:
c

      1  Unnamed: 1
0   NaN         NaN
1   NaN         2.0
2   3.0         NaN
3   NaN         NaN
4   NaN         NaN
5   NaN         4.0
6   NaN         NaN
7   4.0         NaN
8   NaN         NaN
9   4.0         NaN
10  NaN         3.0
11  NaN         NaN
12  NaN         4.0